.mainContainer {
    margin-top: 30px;
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .content {
    width: 100%;
    padding: 16px;
  }
  
  .contentWrapper {
    flex-grow: 1;
    overflow: auto;
  }
  
  .ribbonContainer {
    width: 100%;
    margin-left: 0;
    position: sticky;
    top: 64px;
    z-index: 1100;
  }
  
  @media (max-width: 599px) {
    .content {
      padding: 8px;
    }
  }
  